@classNamePrefix: knowledge-document-editor;
.@{classNamePrefix}-menu-item-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 208px;
  height: 32px;
  margin: -7px -16px;
  padding: 0 14px;
  cursor: pointer;
  .icon-text-box {
    display: flex;
    align-items: center;
    .icon-image {
      font-size: 16px;
      margin-right: 12px;
    }
    .icon-text {
      font-size: 14px;
    }
  }
  .ivu-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-right: -8px;
    font-size: 18px;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
    width: 18px;
    height: 100%;
  }
}
.@{classNamePrefix}-menu-icon {
  font-size: 16px;
}
.clear-dropdown-item-hover-background {
  &.ivu-dropdown-item:hover {
    background: transparent !important;
  }
}
.@{classNamePrefix}-dropdown-item-divide {
  padding: 5px 0;
  cursor: default;
  &.ivu-dropdown-item:hover {
    background: transparent !important;
  }
}
.@{classNamePrefix}-edit-row-menu {
  > .ivu-dropdown {
    display: block;
  }
  > .clear-dropdown-item-hover-background {
    padding: 6px 14px;
  }
  > .ivu-dropdown-item:not(.clear-dropdown-item-hover-background):not(.@{classNamePrefix}-dropdown-item-divide) {
    display: flex;
    align-items: center;
    min-height: 32px;
    padding: 6px 14px;
    box-sizing: border-box;
  }
  > .@{classNamePrefix}-dropdown-item-divide {
    min-height: auto;
  }
}
.@{classNamePrefix}-plus-box {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 36px;
  height: 26px;
  padding: 2px 4px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #dee0e3;
}
.@{classNamePrefix}-drag-handle {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}
