//基础css基类代码，包括：1、基础颜色；2、基础样式；3、基础类
@import '~css-module/base-theme.less';
.ta(@type) {
  text-align: @type;
}

.fz(@size, @height) {
  font-size: @size;
  line-height: @height;
}

.text-shadow(@prop) {
  -webkit-text-shadow: @prop;
  text-shadow: @prop;
}

.transition(@prop) {
  -webkit-transition: @prop;
  -o-transition: @prop;
  transition: @prop;
}

.transform(@prop) {
  -ms-transform: @prop;
  -moz-transform: @prop;
  -webkit-transform: @prop;
  -o-transform: @prop;
  transform: @prop;
}

.animation(@prop) {
  -moz-animation: @prop;
  -webkit-animation: @prop;
  -o-animation: @prop;
  animation: @prop;
}

.box-shadow(@prop) {
  -moz-box-shadow: @prop;
  -webkit-box-shadow: @prop;
  box-shadow: @prop;
}

.box-sizing(@type) {
  -webkit-box-sizing: @type;
  -moz-box-sizing: @type;
  box-sizing: @type;
}

.clearfix() {
  &:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: '';
    height: 0;
  }
}

.flex(@justify-content) {
  display: flex;
  align-items: center;
  justify-content: @justify-content;
}

.opacity(@opacity) {
  opacity: @opacity;
  @opacity-ie: (@opacity * 100);
  -ms-filter: ~'progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacity-ie})';
  filter: ~'alpha(opacity=@{opacity-ie})';
}

.overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

.border-radius(@prop) {
  -moz-border-radius: @prop;
  -webkit-border-radius: @prop;
  border-radius: @prop;
}

.background-gradient(@prop) {
  background: -webkit-linear-gradient(@prop);
  background: -o-linear-gradient(@prop);
  background: -moz-linear-gradient(@prop);
  background: linear-gradient(@prop);
}

.tsfont() {
  font-family: ts;
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tsfonts() {
  font-family: tsfont;
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.padding(@space){
  padding:@space;
}
.keyframes (@prefix, @name, @content) when (@prefix=def) {
  @keyframes @name {
    @content();
  }
}

.keyframes (@prefix, @name, @content) when (@prefix=moz) {
  @-moz-keyframes @name {
    @content();
  }
}

.keyframes (@prefix, @name, @content) when (@prefix=o) {
  @-o-keyframes @name {
    @content();
  }
}

.keyframes (@prefix, @name, @content) when (@prefix=webkit) {
  @-webkit-keyframes @name {
    @content();
  }
}

.keyframes (@prefix, @name, @content) when (@prefix=all) {
  .keyframes(moz, @name, @content);
  .keyframes(o, @name, @content);
  .keyframes(webkit, @name, @content);
  .keyframes(def, @name, @content);
}
