@import (reference) '~@/resources/assets/css/variable.less';

.theme(@bg-color,@title-bg-color,@bg-grey,@text-color,@border-color,@primary-color) {
  .bg {
    fill: @bg-color;
  }
  .bg-grey {
    fill: @bg-grey;
  }
  .title-bg {
    fill: @title-bg-color;
  }
  text {
    fill: @text-color;
  }
  .line {
    stroke: @border-color;
  }
  .marker {
    stroke: @border-color;
    fill: @border-color;
  }
  .vertice {
    fill: @border-color;
    stroke: @bg-color;
  }
  .port {
    fill: @bg-color;
    stroke: @primary-color;
  }
  .port.hidden {
    visibility: hidden;
  }
}

html {
  .theme(@default-op,@default-th-bg-color,@default-bg-grey,@default-text,@default-icon,@default-primary-color);

  &.theme-dark {
    .theme(@dark-op,@dark-th-bg-color,@dark-bg-grey,@dark-text,@dark-icon,@dark-primary-color);
  }
}
